<!-- Footer -->
<footer class="bg-[#4B4B4B] text-white py-10 px-6 text-sm md:text-base">
    <div
      class="w-full max-w-[90%] 2xl:max-w-[1600px] mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-10">
      <!-- Logo and Social Icons -->
      <div class="flex flex-col items-center justify-center md:items-start gap-8">
        <div class="flex flex-col items-center justify-center gap-6">
          <img src="/public/assets/logo-1.png" alt="The Capital Box Logo" />
          <div class="flex flex-col ml-4">
            <h1
              class="text-xl text-center md:text-start text-primary md:text-2xl font-bold leading-tight uppercase mb-2">
              the capital box
            </h1>
            <p class="text-primary text-xs md:text-sm">
              UNCOMMON MONEY FOR COMMON MAN
            </p>
          </div>
        </div>
        <div class="flex space-x-4 mt-2">
          <a href="#" class="hover:text-primary"><i class="fab fa-x-twitter text-xl md:text-2xl"></i></a>
          <a href="#" class="hover:text-primary"><i
              class="fab fa-facebook-f text-xl md:text-2xl border p-2 rounded-full hover:bg-white"></i></a>
          <a href="#" class="hover:text-primary"><i
              class="fab fa-instagram text-xl md:text-2xl border p-2 rounded-full hover:bg-white"></i></a>
          <a href="#" class="hover:text-primary"><i
              class="fab fa-linkedin-in text-xl md:text-2xl border p-2 rounded-full hover:bg-white"></i></a>
        </div>
      </div>

      <!-- Expertise -->
      <div class="px-4">
        <h3 class="text-lg md:text-2xl font-semibold mb-4 text-primary">Expertise</h3>
        <div class="flex flex-col gap-4 text-gray-300">
          <a href="./taxSolution.html" class="hover:text-primary">Tax Solutions</a>
          <a href="./riskManagement.html" class="hover:text-primary">Risk Management</a>
          <a href="./networkSolution.html" class="hover:text-primary">Networking Solutions</a>
          <a href="./retirementSolutions.html" class="hover:text-primary">Retirement Solutions</a>
        </div>
      </div>

      <!-- Contact Info -->
      <div class="px-4">
        <h3 class="text-lg md:text-2xl font-semibold mb-4 text-primary">Have Questions?</h3>
        <ul class="space-y-2 text-gray-300">
          <li>South City 1, Gurugram, Haryana - 122001</li>
          <li>+91 124428427</li>
          <li>contactus@thecapitalbox.com</li>
          <li class="hover:text-primary cursor-pointer" onclick="togglePrivacyModal(true)">Privacy & Policy</li>
        </ul>
      </div>

      <!-- Business Hours -->
      <div class="px-4">
        <h3 class="text-lg md:text-2xl font-semibold mb-4 text-primary">Business Hours</h3>
        <ul class="space-y-2 text-gray-300">
          <li>
            <span class="text-yellow-400">Opening Days:</span> <br />
            Monday – Saturday: 09:30 AM to 6:30PM
          </li>
          <li>
            <span class="text-yellow-400">Vacations:</span> <br />
            Sundays & Official Holidays
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-10 text-center text-xs md:text-sm text-gray-400">
      © 2016 All rights reserved | <a href="index.html" class="hover:text-primary font-semibold  ">The Capital Box</a>
    </div>
  </footer>
