<!-- Navbar -->
<nav
  id="navbar"
  class="navbar fixed top-0 w-full z-40 py-4 md:px-6 transition-all duration-300"
>
  <div class="mx-auto flex justify-between items-center px-2">
    <div class="flex items-center">
      <a href="/src/index.html" class="text-white text-xl font-bold">
        <img src="/public/assets/logo-1.png" alt="" class="h-8" />
      </a>
      <div class="flex flex-col ml-4 md:hidden lg:block">
        <h1 class="uppercase text-white text-md md:text-xl font-bold">
          The Capital Box
        </h1>
        <p class="uppercase text-white text-xs md:text-base font-light">
          UNCOMMON MONEY FOR COMMON MAN
        </p>
      </div>
    </div>

    <div class="hidden md:flex items-center space-x-8">
      <a
        href="./index.html"
        class="text-white hover:text-primary transition text-lg font-light uppercase"
        >Home</a
      >

      <!-- Dropdown Menu -->
      <div class="dropdown relative w-full">
        <button
          class="text-white hover:text-primary transition flex items-center text-lg font-light uppercase"
          id="dropdownToggle"
        >
          Services
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 ml-1"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </button>
        <div class="dropdown-menu bg-white rounded shadow-lg mt-2 w-56">
          <div class="py-2">
            <a
              href="../taxSolution.html"
              class="block px-4 py-2 hover:bg-gray-100 hover:text-primary text-gray-700"
              >Tax Solutions</a
            >
            <a
              href="#"
              class="block px-4 py-2 hover:bg-gray-100 hover:text-primary text-gray-700"
              >Retirement Solutions</a
            >
            <a
              href="#"
              class="block px-4 py-2 hover:bg-gray-100 hover:text-primary text-gray-700"
              >Networking Solutions
            </a>
            <a
              href="#"
              class="block px-4 py-2 hover:bg-gray-100 hover:text-primary text-gray-700"
              >Risk Management</a
            >
          </div>
        </div>
      </div>

      <a
        href="./About.html"
        class="text-white hover:text-primary transition text-lg font-light uppercase"
        >About</a
      >
      <a
        href="#"
        class="text-white hover:text-primary transition text-lg font-light uppercase"
        >Contact</a
      >
      <a
        href="#"
        class="text-white transition text-xl uppercase font-light border border-primary rounded-lg px-4 py-2 hover:bg-[#CBBA4F] hover:text-white hover:font-normal"
        >Careers</a
      >
    </div>

    <!-- Mobile menu button -->
    <div class="md:hidden">
      <button id="mobile-menu-button" class="text-white">
        <!-- Hamburger Icon -->
        <svg
          id="hamburger-icon"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
        <!-- X Icon (hidden by default) -->
        <svg
          id="close-icon"
          class="h-6 w-6 hidden"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
  </div>

  <!-- Mobile menu -->
  <div
    id="mobile-menu"
    class="hidden md:hidden bg-navColor bg-opacity-40 mt-4 py-2"
  >
    <a href="#" class="block px-6 py-2 text-white hover:bg-primary">Home</a>
    <div class="relative">
      <button
        id="mobile-dropdown-button"
        class="w-full text-left px-6 py-2 text-white hover:bg-primary flex justify-between items-center"
      >
        Services
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          />
        </svg>
      </button>
      <div
        id="mobile-dropdown"
        class="hidden bg-[#1F2937] rounded-lg mx-4 my-2"
      >
        <a
          href="#"
          class="block px-6 py-2 text-white hover:bg-primary rounded-t-lg"
          >Service 1</a
        >
        <a href="#" class="block px-6 py-2 text-white hover:bg-primary"
          >Service 2</a
        >
        <a
          href="#"
          class="block px-6 py-2 text-white hover:bg-primary rounded-b-lg"
          >Service 3</a
        >
      </div>
    </div>
    <a href="#" class="block px-6 py-2 text-white hover:bg-primary">About</a>
    <a href="#" class="block px-6 py-2 text-white hover:bg-primary">Contact</a>
    <div class="flex justify-center mt-4">
      <a
        href="#"
        class="text-white transition text-xl uppercase font-light border border-primary rounded-lg px-4 py-2 hover:bg-[#CBBA4F] hover:text-white hover:font-normal"
        >Careers</a
      >
    </div>
  </div>
</nav>

<script src="../js/navbar.js"></script>
<script src="../js/main.js"></script>
